* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    background-color: rgb(250, 250, 250);
  }

@media screen and (max-width: 1012px) {

    .video-title-description-comments-recommended {
        flex-direction: column;
    }

    .video-title-description-comments {
        flex-direction: column-reverse;
        width: 100%;
        padding-right: 4%;
    }

    .video-title-description-comments-recommended {
        display: flex;
        flex-direction: column;
    }

    .recommended {
        display: none;
    }

    .hr-line {
        margin: 2% 0;
    }

    .recommended-mediaquery {
        padding-top: 14px;
    }

}

@media screen and (min-width: 1013px) {
    .video-title-description-comments {
        width: 72.5%;
    }

    .recommended-mediaquery {
        display: none;
    }

    .hr-line {
        margin: 4% 0;
    }

}

@media screen and (max-width: 657px) {
    .searchinput {
        display: none;
    }

    .searchbutton {
        display: none;
    }
}

@media screen and (min-width: 657px) {
    .searchicon-mediaquery {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .titleviews {
        display: none;
    }

    .titleviews-mediaquery-medium {
        display: none;
    }
}

@media screen and (min-width: 601px), (max-width: 621) {

    .titleviews {
        display: none;
    }

    .titleviews-mediaquery-small {
        display: none;
    }
}


@media screen and (min-width: 622px) {
    .titleviews-mediaquery-medium {
        display: none;
    }

    .titleviews-mediaquery-small {
        display: none;
    }

    .titleviews {
        display: block;
    }
}

.searchicon-mediaquery-navbar {
    color: rgb(96, 96, 96);
    font-size: 18px;
    font-weight: 300;
    
}

.showmore-mediaquery {
    border: 1px solid rgb(6, 95, 212);
    border-radius: 3px;
    color: rgb(6, 95, 212);
    font-family: 'Robot', Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 30px;
    flex-shrink: 0;
    position:fixed;
    top:0;
    z-index: 100;
}

.navbar-menu-youtube-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    flex-shrink: 0;
}

.navbar-video-apps-settings-useraccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    flex-shrink: 0;
}

.video-title-description-comments-recommended {
    padding-top: 56px;
    display: flex;
}

.video-title-description-comments {
    padding-left: 5.5%;
    padding-top: 25px;
}

.recommended {
    padding: 18px 7.5% 0 25px;
}

.video { 
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 15px;
}

.titlebuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
}


.description {
    display: flex;
    flex-direction: column;
}

.menu {
    color: rgb(96, 96, 96);
    font-size: 15px;
}

.youtube-logo {
    height: 18px;
}

.searchbar {
    display: flex;
    padding: 0 20px;
}

.searchinput {
    padding: 2px 10px;
    width: 30vw;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 30px;
    font-size: 16px;
    color: rgb(17, 17, 17);
}

.searchbutton {
    width: 65px;
    background-color: rgb(250, 250, 250);
    border: none;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.searchbar-icon {
    opacity: .6;
    font-size: 12px;
}

.video-camera-navbar {
    color: rgb(96, 96, 96);
    font-size: 16px;
}

.youtube-apps {
    color: rgb(96, 96, 96);
    font-size: 16px;
}

.youtube-settings {
    color: rgb(96, 96, 96);
    font-size: 16px;
}

.useraccount {
    height: 40px;
    width: 40px;
}

.sign-in {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    background: rgb(2, 136, 209);;
    border-radius: 20px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.upnext-autoplay-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upnext {
    font-size: 16px;
    white-space: nowrap;
    font-family: 'Roboto', Arial, sans-serif;
}

.autoplay-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
}

.autoplay {
    padding-right: 10%;
    font-size: 0.8rem;
    color: rgb(56, 56, 56);
    font-family: 'Roboto', Arial, sans-serif;
}

.toggle {
    color: rgb(22, 122, 198);
    font-size: 30px;
}

.recommended-thumbnail {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.thumbnail-title-channel-views {
    padding-left: 4%;
}

.thumbnail-img {
    width: 168px;
    height: 94px;
}

.hr-line {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.thumbnail-title {
    margin-bottom: 4px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    font-size: 14px;
    color: rgb(3, 3, 3);
}

.thumbnail-channel {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    font-size: 13px;
    color: #606060;
}

.thumbnail-views {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    font-size: 13px;
    color: #606060;
}

.titlename {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1%;
}

.titleviews,
.titleviews-mediaquery-medium,
.titleviews-mediaquery-small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    white-space: nowrap;
    color: #606060;
}

.titlelikeicon {
    height: 20px;
    width: 20px;
}

.titledislikeicon {
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.titleviews-titlelikes-titlesshare-titlesave-titlesettings {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.titlelikes {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.titlelike {
    display: flex;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.titledislike {
    display: flex;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.titleshare-icon-text {
    display: flex;
}

.shareicon {
    height: 15px;
    width: 15px;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.sharetext {
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.titlesave-icon-text {
    display: flex;
}

.saveicon {
    height: 15px;
    width: 15px;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.savetext {
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.threedotsicon {
    height: 15px;
    width: 15px;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.hr-line-left-title {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
}

.hr-line-left-description {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

.wimbledon-logo {
    height: 50px;
}

.description-channel-subscribers-text-showmore {
    padding-left: 19px;
}

.description-wimbledon-logo-channel-subscribers {
    display: flex;
}

.description-wimbledon-logo-channel-subscribers-subscribe {
    display: flex;
    justify-content: space-between;
}

.description-channel-subscribers {
    padding-left: 19px;
}

.description-text-showmore {
    padding-left: 69px;
}

.description-channel {
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    padding-top: 8px;
}

.description-subscribers {
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
    color: rgb(96, 96, 96);
    padding-bottom: 20px;
}

.description-text {
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    color: rgb(3, 3, 3);
    padding-bottom: 12px;
}

.description-showmore {
    font-size: 13px;
    color: rgb(96, 96, 96);
    font-family: 'Robot', Arial, sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
}

.subscribe {
    background-color: rgb(204, 0, 0);
    border: none;
    color: white;
    padding: 10px 15px;
    font-weight: 600;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    border-radius: 3px;
}

.comments-numbercomments-sortbylogo-sortby {
    display: flex;
}

.comments-publiccomment-logo-text {
    display: flex;
}

.comments-publiccomment-picture-username-timeago-thecomment-likes-reply-viewreplies {
    display: flex;
    padding-bottom: 30px;
}

.comments-publiccomment-username-timeago {
    display: flex;
}

.comments-publiccomment-likes-upvotelogo {
    display: flex;
}

.comments-publiccomment-viewreplies {
    display: flex;
}

.numbercomments {
    color: rgb(3, 3, 3);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.comments-numbercomments-sortbylogo-sortby {
    padding: 20px 0 15px 0;
}

.sortbylogo {
    height: 18px;
    opacity: .4;
}

.comments-sortbylogo {
    padding-left: 4%;
    padding-right: 1%;
}

.sortby {
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    color: rgb(96, 96, 96);
}

.comments-publiccomment-logo,
.comments-publiccomment-picture {
    padding-right: 1.2%;
}

.publiccomment-logo {
    width: 40px;
    border-radius: 100%;
}

.comments-publiccomment-logo-text {
    padding-top: 10px;
    padding-bottom: 30px;
}

.publiccomment-text {
    color: rgb(96, 96, 96);
    font-family: 'Robot', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-top: 1px;
    padding-bottom: 6px;
}

.comments-publiccomment-text {
    width: 100%;
}

.hr-line-left-public-comment {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;  
}

.comments-username {
    color: rgb(3, 3, 3);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding-right: 6px;
}

.comments-timeago {
    color: rgb(3, 3, 3);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    opacity: .6;
}

.comments-publiccomment-username-timeago {
    padding: 1px 0 3px 0;
}

.comments-publiccomment-thecomment {
    color: rgb(3, 3, 3);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding-bottom: 12px;
}

.publiccomment-upvotelogo {
    height: 15px;
    padding-right: 10px;
    opacity: .42;
}

.publiccomment-likes-amount {
    color: rgb(96, 96, 96);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-right: 10px;
}

.publiccomment-downvotelogo {
    height: 15px;
    padding-right: 6px;
    opacity: .42;
    padding-left: 25px;
    transform: rotate(180deg);
    
}

.comments-publiccomment-likes-upvotelogo {
    display: flex;
    align-items: center;
}

.publiccomment-reply {
    color: rgb(96, 96, 96);
    font-size: 13px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 600;
}

.comments-publiccomment-likes-reply {
    padding-bottom: 10px;
}

.comments-publiccomment-viewreplies-dragdownlogo {
    color: rgb(6, 95, 212);
    font-size: 14px;
    width: 20px;
    line-height: 6px;
}

.comments-publiccomment-viewreplies {
    color: rgb(6, 95, 212);
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
}